<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
    </head>
    <body>
<!---- Styles Block------>

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|News+Cycle&display=swap" rel="stylesheet">
{% endblock %}
    <!--Navbar block-->
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
{% block content %}

{% endblock %}
</body>
</html>